.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.navbar{
    margin-left: 300px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}   
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
    
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color:whitesmoke
}

h1
{
color: black;
font-weight:bold;
font-size:50px;
text-align:center;
background-color:#E89E00;
}
.gallery
{
margin: 50px 50px;
position: absolute;
}

.gallery img
{
width: 350px;
padding: 10px;
filter: grayscale(90%);
transition: 1s;
border-radius: 20px;
}
.gallery img:hover
{
filter: grayscale(0);
transform: scale(1.6);
}

